extends layout
include mixins/_mortgageCalculatorForm

block content
  h1= title
  if calculate
    <div class="bg-blue-lightest border-t border-b border-blue text-blue-dark px-4 py-3" role="alert">
    <p class="font-bold">Informational message</p>
    <p class="text-sm">Some additional text to explain said message.</p>
    </div>

  div.container 
    h1 #{firstName}
    +mortgageCalculatorForm(mortgageData)